{% include 'header.html.twig' %}

<div class=" p-3 m-3 border bg-dark  rounded shadow-lg">
    <div class="content bg-dark justify-content-center" >
        <div class="contentHeader">
            <h1 class="text-center text-white p-3  border-bottom">Dolgozó törlése</h1>
        </div>
        <div class="contentBody text-white p-3 d-flex justify-content-center">
            <form action="/employeeDelete" method="POST">
                <input type="hidden" value="{{employee.id}}" name="id">
                <h3 class="text-center">Biztosan törölni szeretné a(z):<br>
                    [ {{employee.id}} azonosítóval és {{ employee.first_name}} {{ employee.last_name}} névvel rendelkező ] dolgozózót?</h3>
                <div class="d-flex justify-content-evenly pt-5">
                    <a href="javascript:history.go(-1)" class="btn btn-warning mt-5">
                        <i class="fa-solid fa-arrow-left"></i>
                        VISSZA
                    </a>

                    <button type="submit" class="btn btn-danger text-white mt-5" name="delete">
                        <i class="fa-solid fa-trash"></i>
                        TÖRÖL
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{#<form action="/employeeDelete" method="POST">#}
{#    <input type="hidden" value="{{employee.id}}" name="id">#}
{#    <div class="d-flex pt-5">#}
{#        <a href="javascript:history.go(-1)" class="btn btn-warning mt-5">#}
{#            <i class="fa-solid fa-arrow-left"></i>#}
{#            VISSZA#}
{#        </a>#}
{#        <h3>Azonosító:#}
{#            {{employee.id}}</h3>#}
{#        <button type="submit" class="btn btn-danger text-white mt-5" name="delete">#}
{#            <i class="fa-solid fa-trash"></i>#}
{#            TÖRÖL#}
{#        </button>#}
{#    </div>#}
{#</form>#}
{% include 'footer.html.twig' %}
